<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body style="text-align:center; margin-top:100px;">

    <h2>회원가입</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디"><br><br>
        <input type="password" name="password" placeholder="비밀번호"><br><br>
        <button type="submit">가입하기</button>
    </form>

    <br><br>
    <a href="/login/">로그인 하러가기</a>

</body>
</html>